<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menu Example</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="/menu-component.css">
    <link href='https://fonts.googleapis.com/css?family=Hind:400,500,300,700' rel='stylesheet' type='text/css'> </head>

<body>
    <h1>JungleJS Menu Demo</h1>
    <div class="menu-component"></div>
    <iframe name="main" src="http://www.interdompartners.com/welcome.html"></iframe>
    <script type="text/template" id="menuTemplate">
        <% items.forEach(function(item) { %>
            <% if (item.doesOpenSubmenu) { %>
                <div class="item submenu-on-click">
                    <%= item.name %>
                    <div class="form-component submenu">
                        <form>
                            <div class="form-group">
                                <label for="login-email">Email</label>
                                <input type="email" name="email" id="login-email" placeholder="email" required/>
                            </div>
                            <div class="form-group">
                                <label for="login-password">Password</label>
                                <input type="password" name="password" id="login-password" placeholder="Please enter password" required/>
                            </div>
                        </form>
                    </div>
                </div>
            <% } else { %>
                <a href="<%= item.href %>" target="main">
                    <div class="item">
                        <%= item.name %>
                        <% if (typeof item.subtitle !== "undefined") { %>
                            <div class="subtitle"><%= item.subtitle %></div>
                        <% }; %>
                    </div>
                </a>
            <% }; %>
        <% }); %>
        <div class="logo-container">
            <div class="logo"></div>
            <div><strong>Copyright 2014</strong></div>
            <div>Interdom LLC</div>
            <div>11800 S. 75th Ave · Suite 2N</div>
            <div>Palos Heights, IL 60463</div>
        </div>
    </script>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="/dist/menu.js"></script>
    <script src="main.js"></script>
</body>

</html>
