.menu-component {
	width: 200px;
	float: left;
	background: #0267FF;
	font-family: 'Hind', sans-serif;

	background: rgba(2,103,255,1);
	background: -moz-linear-gradient(left, rgba(2,103,255,1) 0%, rgba(2,103,255,1) 82%, rgba(107,166,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(2,103,255,1)), color-stop(82%, rgba(2,103,255,1)), color-stop(100%, rgba(107,166,255,1)));
	background: -webkit-linear-gradient(left, rgba(2,103,255,1) 0%, rgba(2,103,255,1) 82%, rgba(107,166,255,1) 100%);
	background: -o-linear-gradient(left, rgba(2,103,255,1) 0%, rgba(2,103,255,1) 82%, rgba(107,166,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(2,103,255,1) 0%, rgba(2,103,255,1) 82%, rgba(107,166,255,1) 100%);
	background: linear-gradient(to right, rgba(2,103,255,1) 0%, rgba(2,103,255,1) 82%, rgba(107,166,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0267ff', endColorstr='#6ba6ff', GradientType=1 );
}

.menu-component .item {
	color: white;
	text-transform: uppercase;
	padding: 6px 20px 3px 10px;
	text-align: right;
	border-bottom: 1px solid white;
}

.menu-component a {
	color: white;
	font-weight: 300;
	text-decoration: none;
}

.menu-component .item:hover {
	background: rgba(255,255,255, .5);
	cursor: pointer;
}

.menu-component .open:hover {
	background: none;
}

.menu-component .submenu {
	display: none;
}

.menu-component .open .submenu {
	display: block;
}

.form-component {
	text-align: left;
}

.form-component input,
.form-component label {
	width: 100%;
}

iframe {
	width: 500px;
	float: left;
}