html, body {
  font-family: 'PT Sans', sans-serif;
  background: #95a5a6;
  color: #2c3e50;
  height:100%;
}

h1 {
  text-align: center;
}

.slides {
  margin: 0 auto;
  width: 800px;
  border: 1em solid #DDD;
  height: calc(100% - 250px);
}

.slide {
  width: 300px;
  height: 300px;
  border: 1em solid #DDD;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 5em;
}

.slide-1 {
  background: #1abc9c;
}

.slide-2 {
  background: #3498db;
}

.slide-3 {
  background: #9b59b6;
}

.slide-4 {
  background: #e67e22;
}

.slide-5 {
  background: #16a085;
}